.container{
	width: 35%;
	margin: 50px auto;
	border: 1px solid black;
}
.signup{
	width:100%;	
	margin-bottom:20px;
	padding-bottom:12px;
	padding-top:12px;
	color:white;
	background:#428bca;
}
.big-box{
	margin-left: 30px;
	margin-right: 42px;
	margin-bottom:10px;
}

.box {
	width: 100%;
	border: 1px solid lightgrey;
	padding-left:15px;
}
.end-bar{
	padding:10px;
	background:#c9def0;
}
.submit{
	width:30%;
	margin-left:20px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid lightgrey;
	color: white;
	background:#428bca;	
}
#image{
	position: relative;
	bottom: 20px;
	margin-right:20px;
}